{% comment %}
  Renders all related SEO and favicon tags in the head.

  Usage:
  {%- render 'head-seo' -%}
{% endcomment %}

<link rel="canonical" href="{{- canonical_url -}}">

<title>
  {{ page_title }}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>

{%- if page_description -%}
<meta name="description" content="{{- page_description | escape -}}">
{% endif -%}


{% comment %} Strcutured data {% endcomment %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{- shop.name | json -}},
  {%- if settings.logo -%}"logo": {{- settings.logo | image_url: 'master' | prepend: "https:" | json -}},{% endif %}
  {%- if shop.email -%}"email": {{- shop.email | json -}},{% endif %}
  {%- if shop.phone -%}"telephone": {{- shop.phone | json -}},{% endif %}
  "url": {{- canonical_url | append: page.url | json -}},
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "description": {{- page_description | escape | json -}}
}
</script>

{%- if request.page_type == 'index' -%}
{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": {{- shop.name | json -}},
  "potentialAction": {
    "@type": "SearchAction",
    "target": {{- potential_action_target | json -}},
    "query-input": "required name=search_term_string"
  },
  "url": {{- shop.url | append: page.url | json -}}
}
</script>
{%- endif -%}

{%- if request.page_type == 'article' -%}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      {{ article | img_url: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ settings.share_image.height | json }},
        "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ settings.share_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script>
{%- endif -%}

{% comment %} Favicons {% endcomment %}
{%- if settings.favicon != blank -%}
<link rel="shortcut icon" href="{{ settings.favicon | img_url: '16x16' }}" sizes="16x16">
<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" sizes="32x32">
<link rel="shortcut icon" href="{{ settings.favicon | img_url: '48x48' }}" sizes="48x48">
<link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" sizes="96x96">
<link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}" sizes="180x180">
<link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '192x192' }}" sizes="192x192">
{%- endif -%}
