{% comment %}
  Renders all related SEO and favicon tags in the head.

  Usage:
  {%- render 'head-seo' -%}
{% endcomment %}

{%- liquid
  assign seo_title = page_title | default: shop.name
  assign seo_description = page_description | default: shop.description | default: shop.name
  assign seo_url = canonical_url | default: shop.secure_url
  assign seo_email = shop.email | default: false
  assign seo_phone = shop.phone | default: false
-%}

<title>{{- seo_title | escape -}}</title>
<meta name="description" content="{{- seo_description | escape -}}">
<link rel="canonical" href="{{- seo_url -}}">
<meta name="author" content="{{- shop.name -}}">

{% comment %} Strcutured data {% endcomment %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{- shop.name | json -}},
  {%- if settings.logo -%}"logo": {{- settings.logo | image_url: 'master' | prepend: "https:" | json -}},{% endif %}
  {%- if seo_email -%}"email": {{- seo_email | json -}},{% endif %}
  {%- if seo_phone -%}"telephone": {{- seo_phone | json -}},{% endif %}
  "url": {{- seo_url | append: page.url | json -}},
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "description": {{- seo_description | escape | json -}}
}
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{- shop.name | json -}},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{- potential_action_target | json -}},
        "query-input": "required name=search_term_string"
      },
      "url": {{- shop.url | append: page.url | json -}}
    }
  </script>
{%- endif -%}

{% comment %} Favicons {% endcomment %}
{%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{- settings.favicon | img_url: '16x16' -}}" sizes="16x16">
  <link rel="shortcut icon" href="{{- settings.favicon | img_url: '32x32' -}}" sizes="32x32">
  <link rel="shortcut icon" href="{{- settings.favicon | img_url: '48x48' -}}" sizes="48x48">
  <link rel="shortcut icon" href="{{- settings.favicon | img_url: '96x96' -}}" sizes="48x48">
  <link rel="apple-touch-icon" href="{{- settings.favicon | img_url: '180x180' -}}" sizes="180x180">
  <link rel="apple-touch-icon" href="{{- settings.favicon | img_url: '192x192' -}}" sizes="192x192">
{%- endif -%}




