<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    {%- if settings.primary_color -%}
    <meta name="theme-color" content="{{- settings.primary_color -}}">
    <meta name="msapplication-TileColor" content="{{- settings.primary_color -}}">
    {%- endif -%}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    <title>{{- 'gift_cards.issued.title' -}}</title>
    <meta name="description" content="{{- 'gift_cards.issued.subtext' -}}">

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '16x16' }}" sizes="16x16">
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" sizes="32x32">
      <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}" sizes="180x180">
    {%- endif -%}


    {%- liquid
      render 'head-script-tags'
      render 'head-style-tags'
      render 'head-social-tags'
    -%}


    <link rel="preload" href="{{ 'giftcard.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>{{ 'giftcard.css' | asset_url | stylesheet_tag }}</noscript>

    <script src="{{- 'giftcard.js' | asset_url -}}" defer></script>

    <!-- Header hook for plugins -->
    {{ content_for_header }}
  </head>
  <body>
    {% comment %} Accessibilty snippet {% endcomment %}
    {%- render 'a11y-skip-to-content' -%}

    <main id="MainContent" role="main" class="t-giftcard u-focus-none" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {%- render 'a11y-refresh-page' -%}

  </body>
</html>
