{%- if section.settings.show_announcement -%}
  {% if section.settings.home_page_only == false or request.page_type == 'index' %}
  <style>
    .announcement-bar {
      background-color: {{- section.settings.announcement_bg_color -}}
    }

    .announcement-bar_link,
    .announcement-bar_message,
    .announcement-bar_social-link {
      color: {{- section.settings.announcement_color -}}
    }
  </style>
  <div class="announcement-bar" data-section-id="{{ section.id }}">
    <div class="container">
      <div class="announcement-bar_wrapper">
        <nav class="announcement-bar_navigation" role="navigation">
          <ul class="announcement-bar_list">
          {%- assign nav_list = section.settings.announcement_menu.links | slice: 0, 4 -%}
          {%- for link in nav_list -%}
            <li class="announcement-bar_item">
              <a href="{{ link.url }}" class="announcement-bar_link">{{ link.title }}</a>
            </li>
          {%- endfor -%}
          </ul>
        </nav>
        <div class="announcement-bar_message-wrapper">
          <p class="announcement-bar_message" aria-label="Announcement message" tabindex="0">{{ section.settings.announcement_message | escape }}</p>
        </div>
        <div class="announcement-bar_socials">
          <ul class="announcement-bar_socials-list" role="list" aria-label="Announcement social links">
            <li class="announcement-bar_socials-item">
              <a href="#" class="announcement-bar_social-link" aria-description="Link to our Tiktok account.">
                {%- render 'icons' icon: 'account' -%}
                <span class="sr-only">Tiktok</span>
              </a>
            </li>
            <li class="announcement-bar_socials-item">
              <a href="#" class="announcement-bar_social-link" aria-description="Link to our Twitter account.">
                {%- render 'icons' icon: 'close' -%}
                <span class="sr-only">Twitter</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}
{%- endif -%}


{% schema %}
  {
    "name": {
      "en": "Announcement bar",
      "fr": "Barre d'announce"
    },
    "tag": "aside",
    "settings": [
      {
        "type": "header",
        "content": {
          "en": "Content",
          "fr": "Contenu"
        }
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": {
          "en": "Home page only",
          "fr": "Page d'accueil uniquement"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": {
          "en": "Show announcement",
          "fr": "Afficher l'annonce"
        },
        "default": true
      },
      {
        "type": "link_list",
        "id": "announcement_menu",
        "label": {
          "en": "Menu",
          "fr": "Menu"
        },
        "default": "main-menu",
        "info": {
          "en": "Use a menu with a maximum 4 links",
          "fr": "Utilise un menu avec un maximum 4 liens"
        }
      },
      {
        "type": "text",
        "id": "announcement_message",
        "label": {
          "en": "Text",
          "fr": "Texte"
        },
        "default": {
          "en": "Hi There.",
          "fr": "Bonjour mec."
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Colors",
          "fr": "Couleurs"
        }
      },
      {
        "type": "color",
        "id": "announcement_bg_color",
        "label": {
          "en": "Bar",
          "fr": "Barre"
        },
        "default": "#111111"
      },
      {
        "type": "color",
        "id": "announcement_color",
        "label": {
          "en": "Text",
          "fr": "Texte"
        },
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}
