{{ 'section-welcome.css' | asset_url | stylesheet_tag }}

<div class="o-container o-container--s u-align-center"
  data-section-id="{{- section.id -}}">
  <div class="s-welcome__logo u-mb-md">{%- render 'component-icon' icon: 'shopify', icon_size: 120 -%}</div>
  <div class="s-welcome__wrapper">
    <h2 class="c-heading c-heading--h2 c-heading--bold u-mb-md">{{ section.settings.heading }}</h2>
    <p class="c-body c-body--b1 u-mb-l">{{ section.settings.subheading }}</p>
    <a class="s-welcome__link c-button"
      href="https://github.com/younessidbakkasse/shopify-webpack-with-os2-features"
      target="_blank" rel="noreferrer noopener">{{ section.settings.link_label }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Welcome",
  "tag": "section",
  "class": "s-welcome",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Modern Shopify development ⚙️ workflow, with Online Store 2.0 features and built with performance ⚡️ and accessibility in mind.."
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subeading",
      "default": "Thanks for choosing workflow for your Shopify Theme setup 👍."
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link label",
      "default": "Check docs on Github"
    }
  ]
}
{% endschema %}
