<!doctype html>
  <html class="no-js" lang="{{- request.locale.iso_code -}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {%- if settings.primary_color -%}
    <meta name="theme-color" content="{{- settings.primary_color -}}">
    {%- endif -%}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- liquid
      render 'seo-meta-tags'
      render 'script-liquid-tags'
      render 'style-liquid-tags'
      render 'social-meta-tags'
    -%}

    {{- 'password.css' | asset_url | stylesheet_tag -}}
    <script src="{{- 'password.js' | asset_url -}}" defer></script>
     <!-- Header hook for plugins -->
    {{- content_for_header -}}
  </head>
  <body>
    {%- section 'password-header' -%}

    <main id="MainContentPassword" class="content-for-layout password" role="main" tabindex="-1">
      {{- content_for_layout -}}
    </main>

    {%- section 'password-footer' -%}
  </body>
  </html>
